@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit; /*Forces you to declare what heading levels look like*/
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: "none";
}

button {
  all: unset;
  cursor: pointer;
}

:root {
  --clr-primary-200-hsl: 300, 24%, 96%;
  --clr-primary-200: hsl(var(--clr-primary-300-hsl));

  --clr-primary-300-hsl: 303, 10%, 53%;
  --clr-primary-300: hsl(var(--clr-primary-300-hsl));

  --clr-primary-hsl: 300, 43%, 22%;
  --clr-primary: hsl(var(--clr-primary-hsl));

  --clr-accent-hsl: 333, 80%, 67%;
  --clr-accent: hsl(var(--clr-accent-hsl));

  --clr-accent-2-hsl: 0, 0%, 100%;
  --clr-accent-2: hsl(var(--clr-accent-2-hsl));

  --font-family: "League Spartan", sans-serif;

  --fs-400: 0.985rem;
  --fs-600: 2rem;

  --fw-regular: 400;
  --fw-regular-50: 500;
  --fw-bold: 700;

  --padding-sm: calc(var(--padding) * 0.5);
  --padding: 1.5rem;
  --padding-lg: calc(var(--padding) * 1.5);

  --b-rad-sm: 4px;
  --b-rad-md: 12px;
}

body {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
}

main {
  width: 90%;
  margin-inline: auto;
  padding-block: var(--padding-lg);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  text-align: center;
}

.text-container .heading {
  font-size: var(--fs-600);
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
}

.text-container .sub-text {
  color: var(--clr-primary-300);
}

.reviews-container {
  padding-block: var(--padding);
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  padding-block: var(--padding-sm);
  margin-block: var(--padding-sm);
  border-radius: var(--b-rad-sm);
  background-color: hsl(var(--clr-primary-hsl), 5%);
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
}

.review .stars {
  display: flex;
  justify-content: center;
  gap: var(--padding-sm);
}

.testimony-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
}

.testimony {
  background-color: var(--clr-primary);
  padding: var(--padding);
  border-radius: var(--b-rad-md);
}

.user-info {
  display: flex;
  gap: var(--padding-sm);
  margin-bottom: var(--padding);
}

.img-container {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-text .name {
  color: var(--clr-accent-2);
  font-weight: var(--fw-bold);
}

.user-text .status {
  color: var(--clr-accent);
}

.testimony .content {
  color: var(--clr-accent-2);
  line-height: 150%;
}

@media (min-width: 40em) {
  :root {
    --fs-600: 3rem;
  }

  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  main {
    display: grid;
    grid-template-areas:
      "text reviews"
      "users users";

    column-gap: var(--padding-lg);
    row-gap: var(--padding);
    grid-template-columns: 0.5fr 1fr;
    max-width: 1000px;
  }

  .text-container {
    grid-area: text;
    text-align: unset;
  }

  .reviews-container {
    grid-area: reviews;
  }

  .testimony-container {
    grid-area: users;
    flex-direction: row;
  }

  .review {
    flex-direction: row;
    width: max(75%, 350px);
    padding-inline: var(--padding);
    padding-block: calc(var(--padding) * 0.7);
    border-radius: var(--b-rad-md);
    align-items: center;
    max-width: 430px;
  }

  .reviews-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .review[data-position="1"] {
    margin-right: calc(2.4 * var(--padding));
  }

  .review[data-position="2"] {
    margin-right: calc(1.2 * var(--padding));
  }

  .testimony-container {
    gap: var(--padding);
  }

  .testimony {
    height: fit-content;
    width: fit-content;
  }

  .testimony[data-position="2"] {
    margin-top: var(--padding);
  }

  .testimony[data-position="3"] {
    margin-top: calc(2 * var(--padding));
  }
}
